{{ define "main" }}
<content>
  <h1 class="chrome-title">{{ .Title }}</h1>
  {{ if .Content }}
  <div>
    {{ .Content }}
  </div>
  {{ end }}
  {{ if and .Data.Singular (ne .Kind "taxonomy") (ne .Kind "section") }}
  <p class="muted">
    {{ if eq .Data.Singular "tag" }}
    <a href="{{ "tags" | relURL }}">All tags</a>
    {{ else }}
    <a href="{{ "blog" | relURL }}">All posts</a>
    {{ end }}
  </p>
  {{ end }}
  <ul class="post-list">
    {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <time datetime='{{ .Date.Format "2006-01-02" }}'>
        {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
      </time>
    </li>
    {{ else }}
    <li>No posts yet</li>
    {{ end }}
  </ul>
</content>
{{ end }}
