{{ define "main" }}
<content>
  {{ if .Content }}
  <div>
    {{ .Content }}
  </div>
  {{ end }}
  {{ if and .Data.Singular (ne .Kind "taxonomy") }}
  <h3 class="chrome-title" style="margin-bottom:0.35rem">{{ .Title }}</h3>
  <p class="muted">
    {{ if eq .Data.Singular "tag" }}
    <a href="{{ "tags" | relURL }}">All tags</a>
    {{ else }}
    <a href="{{ "blog" | relURL }}">All posts</a>
    {{ end }}
  </p>
  {{ end }}
  <ul class="post-list">
    {{ range .Pages }}
    <li>
      <time datetime='{{ .Date.Format "2006-01-02" }}'>
        {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
      </time>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li><span></span><span>No posts yet</span></li>
    {{ end }}
  </ul>
</content>
{{ end }}
