{{ define "main" }}
<content>
  {{ if .Content }}
  <div>
    {{ .Content }}
  </div>
  {{ end }}
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  <ul>
    {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <span style="color: var(--meta-color); font-size: 0.85em; margin-left: 0.5rem; white-space: nowrap;">
        <time datetime='{{ .Date.Format "2006-01-02" }}'>
          {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
        </time>
      </span>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}