{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="post-date">
  <time datetime='{{ .Date.Format "2006-01-02" }}'>
    {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
  </time>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>
{{ if eq .Type "blog" }}
{{ if .Params.tags }}
<p class="tag-cloud">
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
{{ if fileExists "layouts/shortcodes/newsletter.html" }}
{{ readFile "layouts/shortcodes/newsletter.html" | safeHTML }}
{{ end }}
{{ end }}
{{ end }}
