{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>
{{ if eq .Type "blog" }}
{{ if .Params.tags }}
<p style="margin-top: 2em; font-size: 0.9em;">
  <strong>Tagged:</strong>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}" style="margin-right: 0.5em;">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
<script src="https://giscus.app/client.js"
        data-repo="arashThr/arashtaher"
        data-repo-id="R_kgDOPLTV5A"
        data-category="General"
        data-category-id="DIC_kwDOPLTV5M4Cukwn"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="noborder_light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{ readFile "layouts/shortcodes/newsletter.html" | safeHTML }}
{{ end }}
{{ end }}